@import url("https://api.fonts.coollabs.io/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .checkbox-label:has(input:checked) {
        @apply border-orange-500;
    }
    .checkbox-label:has(input:checked) > .fake-checkbox {
        @apply bg-orange-500;
        @apply border-orange-500;
    }
}

:root {
    --font-family: "Montserrat", sans-serif;
}

html,
body {
    min-height: 100vh;
}

/* rating star */

.star_empty {
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(249 115 22 / 0.5);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(249 115 22 / 0.7);
}
